[submodule "packages/lti-registration-builder"]
	path = packages/lti-registration-builder
url=git@github.com:groton-school/lti-registration-builder.git
[submodule "packages/slim-gae-shim"]
	path = packages/slim-gae-shim
url=git@github.com:groton-school/slim-gae-shim.git
[submodule "packages/slim-lti-infrastructure-gae"]
	path = packages/slim-lti-infrastructure-gae
url=git@github.com:groton-school/slim-lti-infrastructure-gae.git
[submodule "packages/slim-lti-shim"]
	path = packages/slim-lti-shim
url=git@github.com:groton-school/slim-lti-shim.git
[submodule "packages/slim-lti-partitioned-session"]
	path = packages/slim-lti-partitioned-session
	url = git@github.com:groton-school/slim-lti-partitioned-session.git
[submodule "templates/slim-skeleton"]
	path = templates/slim-skeleton
	url = git@github.com:groton-school/slim-skeleton.git
[submodule "packages/slim-spa-canvas-api-client"]
	path = packages/slim-spa-canvas-api-client
	url = git@github.com:groton-school/slim-spa-canvas-api-client.git
[submodule "packages/slim-norms"]
	path = packages/slim-norms
	url = git@github.com:groton-school/slim-norms.git
[submodule "packages/session-cookie-middleware"]
	path = packages/session-cookie-middleware
	url = git@github.com:groton-school/session-cookie-middleware.git
[submodule "packages/slim-oauth2-api-proxy"]
	path = packages/slim-oauth2-api-proxy
	url = git@github.com:groton-school/slim-oauth2-api-proxy.git
[submodule "packages/slim-canvas-api-proxy"]
	path = packages/slim-canvas-api-proxy
	url = git@github.com:groton-school/slim-canvas-api-proxy.git
[submodule "packages/slim-oauth2-api-proxy-gae-repository"]
	path = packages/slim-oauth2-api-proxy-gae-repository
	url = git@github.com:groton-school/slim-oauth2-api-proxy-gae-repository.git
